/commands
/temporal
/packages/bootstrap/build-lagunaro
/packages/angular-client/app/img/sprite*
/api/session.json
/session.json
/_docs/
/api/.divshot-cache

build
dist
.DS_Store
.tmp
.vs/
.divshot-cache
node_modules
npm-debug.log
*.sublime-workspace
*.orig
api/session.json
Thumbs.db
.fuse_hidden*
.awcache
package-lock.json
yarn-error.log
node_modules.zip
common.zip
/coverage
junit.xml
